[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "materialmodifier"]
	path = materialmodifier
	url = https://github.com/tsuda16k/materialmodifier
[submodule "sketcher"]
	path = sketcher
	url = https://github.com/tsuda16k/sketcher
